\# https://www.hackathonsocial.com.br/

**Acesso ao GitHub**
github.com/hacksicredi2019

# INTRO

\# material de apoio, fontes, referências e demais subsídios <br>

## Problema

Desenvolver uma plataforma que reúna dados de escolas de Porto Alegre, **a fim de ajudar os pais ou responsáveis a tomar a melhor decisão na hora de escolher a escola dos seus filhos.**

## Persona

Quem (quando) vai usar?
- Mudar de escola? Por quê?

## Escopo

- Escolas de Porto Alegre
- Que etapas? Escolas municipais apenas? Privadas?
- Que idades?

## Fatores de decisão

- tempo gasto no trajeto
- acordar cedo
- proximidade, itinerário, logística
- "fama" social (noticiário)
- resultados e indicadores
    - ideb, ana, enem, tdi, gestão, txs rendimento, ...
    - nível socioeconômico (inse)
- estrutura
    - nº matrículas
    - nº docentes
    - alunos por professor
    - tamanho das turmas
    - espaços físicos (disponibilidade, adequabilidade e agradabilidade)
- formação e qualificação dos professores
 - mestrado? doutorado?
 - cursos de extensão?
- preço
- etapas disponíveis para evitar troca futura
- comentários e avaliações de outros pais
 - segurança
 - proposta pedagógica
 - comportamento das outras crianças
- especificidades (flags)
    - tem merenda?
    - turno integral?
    - quadra esportes?
    - ensino línguas
    - atividades extracurriculares
    - biblioteca
    - laboratórios
    - acessibilidade pcd

Refs:
- https://www.somospar.com.br/7-criterios-que-os-pais-analisam-para-definir-matricula-escolar/
- https://revistacrescer.globo.com/Criancas/Escola/noticia/2018/09/como-escolher-escola-ideal-para-seu-filho.html
- https://exame.abril.com.br/negocios/dino/pesquisa-revela-mudanca-no-comportamento-dos-pais-na-hora-de-escolher-a-escola-dos-filhos/
- https://diarioescola.com.br/como-escolher-uma-boa-escola/

## Possibilidades

## Limitações

- Poucos dados agregados em nível escola

## Sites relacionados ao tema
- https://convivaeducacao.org.br
- https://cultiveduca.ufrgs.br
- http://www.custoalunoqualidade.org.br/ 
- http://matricula.educacenso.inep.gov.br/ 
- http://inep.gov.br/dados 
- https://jeduca.org.br 
- https://observatoriocrianca.org.br/
- https://www.qedu.org.br/ 
- https://educadata.com.br/
- https://academia.qedu.org.br/
- https://pne.tce.mg.gov.br/
- https://www.todospelaeducacao.org.br/
- http://portal.tce.rs.gov.br/portal/page/portal/noticias_internet/textos_diversos_pente_fino/_Avalia%E7%E3o%20da%20efici%EAncia%20e%20da%20efic%E1cia%20da%20rede%20municipal%20de%20ensino%20fundamental%20de%20Porto%20Alegre.pdfhttp://portal.tce.rs.gov.br/portal/page/portal/noticias_internet/textos_diversos_pente_fino/_Avalia%E7%E3o%20da%20efici%EAncia%20e%20da%20efic%E1cia%20da%20rede%20municipal%20de%20ensino%20fundamental%20de%20Porto%20Alegre.pdf

## Teoria

### Cálculo da Nota Padronizada de Matemática 2017
$$ {Nota\,de\,Matemática\,do\,exame\,em\,2017 - lim.\,inferior\,da\,média\,de\,profic.\,de\,Matemática\,no\,SAEB\,1997\over lim.\,superior\,da\,média\,de\,profic.\,de\,Matemática\,no\,SAEB\,1997 - lim.\,inferior\,da\,média\,de\,profic.\,de\,Matemática\,no\,SAEB\,1997}\:x\:10$$
<br>ou, simplesmente:
$$ {Nota\,de\,Matemática\,do\,exame\,em\,2017 - 60 \over 322 - 60}\:x\:10$$

### Cálculo da Nota Padronizada de Português 2017
$$ {Nota\,de\,Português\,do\,exame\,em\,2017 - lim.\,inferior\,da\,média\,de\,profic.\,de\,Português\,no\,SAEB\,1997\over lim.\,superior\,da\,média\,de\,profic.\,de\,Português\,no\,SAEB\,1997 - lim.\,inferior\,da\,média\,de\,profic.\,de\,Português\,no\,SAEB\,1997}\:x\:10$$
<br>ou, simplesmente:
$$ {Nota\,de\,Português\,do\,exame\,em\,2017 - 49 \over 324 - 49}\:x\:10 $$
### Nota Média Padronizada (N)
$$ N = {Nota\,Padronizada\,de\,Matemática + Nota\,Padronizada\,de\,Português\over 2}$$
### IDEB
$$ Ideb = N\:x\:Indicador\:de\:Rendimento$$

### Enem por Escola
- http://portal.mec.gov.br/component/tags/tag/36409-enem-por-escola

## Benchmarking

- https://arte.folha.uol.com.br/educacao/buscador-escolha-a-escola/?city=4314902&school=43104975
- https://www.melhorescola.com.br/escola/por-mensalidade/rio-grande-do-sul
- http://idebescola.inep.gov.br/ideb/escola/dadosEscola/43107982
- https://www.qedu.org.br/

## Fontes de dados

- DataPOA: http://datapoa.com.br/dataset/sie
- Microdados Censo Escolar: http://portal.inep.gov.br/microdados
- Indicadores educacionais: http://portal.inep.gov.br/indicadores-educacionais
- Resultados: http://portal.inep.gov.br/web/guest/educacao-basica/ideb/resultados
- LAI: ftp://data.deed.read:f*TmntyW83cm@ftp.inep.gov.br/csdi/
- DataSUS: http://datasus.saude.gov.br/informacoes-de-saude/servicos2/transferencia-de-arquivos
- FEE: https://www.fee.rs.gov.br/
- Outros: https://observatoriocrianca.org.br/cenario-infancia/temas/populacao, Feeds Notícias (ver CPovo, GZH, OSul, Metro...), Redes sociais

In [165]:
import pandas as pd
import numpy as np
import re
from datetime import datetime as dt
import geocoder

In [274]:

# tokens adquiridos em https://developer.here.com/
API_here = ['xxx', 'xxx']

def get_here(endereco):
    try:
        g = geocoder.here(endereco,
                          app_id=API_here[0],
                          app_code=API_here[1])
        return [g.address, g.district, g.lat, g.lng, g.postal, g.city, g.state, g.country]
    
    except IndexError:
        return np.NaN

In [167]:
def inicio():
    global hora_inicio
    hora_inicio = dt.now()
    print('Iniciou às '+str(hora_inicio))

def fim():
    global hora_fim
    hora_fim = dt.now()
    if (hora_fim - hora_inicio).seconds/60 >= 1:
        print('Este segmento levou '+str(round((hora_fim - hora_inicio).seconds/60,2)) + ' minutos')
    else:
        print('Este segmento levou '+str(round((hora_fim - hora_inicio).seconds)) + ' segundos')
    print('Finalizou às '+ str(hora_fim))

# CARREGA DATASET CADASTRO ESCOLAS

In [275]:
filepath = '\\dados\\censo\\cadastro-escolas\\CAD_ESC_MAT_2018.csv'

iter_csv = pd.read_csv(filepath, 
                       sep=';', 
                       header=0, 
                       encoding="ISO-8859-1", 
#                        dtype=dict_campos['ESCOLA'][2018], 
#                            usecols=campos_docente, 
                       iterator=True, 
                       chunksize=1000)

df_CAD_ESCOLAS = pd.concat([chunk[chunk['CO_MUNICIPIO'] == 4314902] for chunk in iter_csv])

In [276]:
# remove 'N' (evita endereços como "N 48")
df_CAD_ESCOLAS.NU_ENDERECO = df_CAD_ESCOLAS.NU_ENDERECO.apply(lambda x: re.sub('N', '', x))

# remove espaços sobressalentes à esquerda
df_CAD_ESCOLAS.NU_ENDERECO = df_CAD_ESCOLAS.NU_ENDERECO.apply(lambda x: x.lstrip())

# remove dígitos após espaço (evita endereços como "48 e 50 ", lendo como "48" apenas)
df_CAD_ESCOLAS.NU_ENDERECO = df_CAD_ESCOLAS.NU_ENDERECO.apply(lambda x: x.rsplit(' ')[0])

# remove dígitos após /barra (evita endereços como "1560/1570", lendo como "1560" apenas)
df_CAD_ESCOLAS.NU_ENDERECO = df_CAD_ESCOLAS.NU_ENDERECO.apply(lambda x: x.rsplit('/')[0])

# remove dígitos diferentes de números
df_CAD_ESCOLAS.NU_ENDERECO = df_CAD_ESCOLAS.NU_ENDERECO.apply(lambda x: re.sub("\D", "", x))

In [277]:
df_CAD_ESCOLAS['END_COMPLETO'] = df_CAD_ESCOLAS.DS_ENDERECO+' '+df_CAD_ESCOLAS.NU_ENDERECO.astype(str)+', PORTO ALEGRE, RS'

In [278]:
inicio()

Iniciou às 2019-11-23 22:11:57.131991

In [279]:
df_CAD_ESCOLAS['HERE'] = df_CAD_ESCOLAS['END_COMPLETO'].apply(lambda x: get_here(x))

In [280]:
fim()

Este segmento levou 7.22 minutos
Finalizou às 2019-11-23 22:19:10.494323

In [281]:
df_CAD_ESCOLAS['HERE'].isnull().sum()

2

In [282]:
df_CAD_ESCOLAS.loc[df_CAD_ESCOLAS['CO_ENTIDADE'] == 43089216, 'END_COMPLETO'] = 'Alameda B, 3728 - Restinga, Porto Alegre - RS, 91793-440'
df_CAD_ESCOLAS.loc[df_CAD_ESCOLAS['CO_ENTIDADE'] == 43106366, 'END_COMPLETO'] = 'Estr. Um, 2 - Lomba do Pinheiro, Porto Alegre - RS, 91550-255'

In [284]:
df_CAD_ESCOLAS.loc[df_CAD_ESCOLAS['HERE'].isnull(), 'HERE'] = df_CAD_ESCOLAS.loc[df_CAD_ESCOLAS['HERE'].isnull(), 'END_COMPLETO'].apply(lambda x: get_here(x))

In [285]:
df_CAD_ESCOLAS['HERE'].isnull().sum()

0

In [288]:
df_CADASTROS_geo = df_CAD_ESCOLAS[['CO_ENTIDADE', 'NO_ENTIDADE']].merge(df_CAD_ESCOLAS.HERE.apply(pd.Series), left_index=True, right_index=True)

In [290]:
df_CADASTROS_geo.columns = ['CO_ENTIDADE', 'NO_ENTIDADE', 'END', 'BAIRRO', 'LAT', 'LON', 'CEP', 'MUN', 'UF', 'PAIS']

In [ ]:
# Verificar endereços equivalentes à nulos
df_CADASTROS_geo.loc[df_CADASTROS_geo['END'] == 'Porto Alegre, RS, Brazil', :]

In [305]:
# Estas 4 Escolas terão suas informações adicionadas manualmente
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'].isin([43001980, 43105572, 43107826, 43169279]), :]

,CO_ENTIDADE,NO_ENTIDADE,END,BAIRRO,LAT,LON,CEP,MUN,UF,PAIS
167368,43001980,EEI TURMA DA MAGALI,"Porto Alegre, RS, Brazil",None,-30.03392,-51.22799,90020-025,Porto Alegre,RS,BRA
167538,43105572,ESC EST NORMAL 1 DE MAIO,"Porto Alegre, RS, Brazil",None,-30.03392,-51.22799,90020-025,Porto Alegre,RS,BRA
167725,43107826,ESC EST ENS FUN OSWALDO VERGARA,"Porto Alegre, RS, Brazil",None,-30.03392,-51.22799,90020-025,Porto Alegre,RS,BRA
167869,43169279,NUCL E EJA E CP DESEMBARGADOR ALAOR ANTONIO TERRA,"Porto Alegre, RS, Brazil",None,-30.03392,-51.22799,90020-025,Porto Alegre,RS,BRA

In [308]:
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43001980, 'END'] = 'Av. Dep. Adão Pretto, 4967'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43001980, 'BAIRRO'] = 'Lomba do Pinheiro'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43001980, 'LAT'] = -30.105070
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43001980, 'LON'] = -51.114480
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43001980, 'CEP'] = '91570-730'

In [309]:
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43105572, 'END'] = 'Av. Pres. Franklin Roosevelt, 149'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43105572, 'BAIRRO'] = 'Navegantes'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43105572, 'LAT'] = 30.001350
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43105572, 'LON'] = -51.200260
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43105572, 'CEP'] = '90230-000'

In [310]:
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43107826, 'END'] = 'Rua Graciano Camozzato, 101'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43107826, 'BAIRRO'] = 'Farrapos'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43107826, 'LAT'] = -29.979490
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43107826, 'LON'] = -51.193890
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43107826, 'CEP'] = '90250-390'

In [311]:
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43169279, 'END'] = 'Av. Rócio, 1100'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43169279, 'BAIRRO'] = 'Partenon'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43169279, 'LAT'] = -30.063580
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43169279, 'LON'] = -51.178700
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43169279, 'CEP'] = '91510-090'

In [330]:
df_CADASTROS_geo.BAIRRO.unique()

array(['Hípica', 'Lomba do Pinheiro', 'Centro Histórico', 'Restinga',
       'Lami', 'Sarandi', 'Jardim Isabel', 'Santana', 'Nonoai',
       'Higienópolis', 'Petrópolis', 'Cascata', 'Rubem Berta',
       'Três Figueiras', 'Partenon', 'Vila Ipiranga', "Mont'Serrat",
       'Santa Tereza', 'Espírito Santo', 'Mário Quintana', 'Cristal',
       'Passo da Areia', 'Teresópolis', 'Humaitá', 'Boa Vista', 'Ipanema',
       'Santa Maria Goretti', 'Farrapos', 'Cavalhada', 'Rio Branco',
       'Navegantes', 'Menino Deus', 'Jardim Itú', 'Medianeira',
       'Agronomia', 'Azenha', 'Ponta Grossa', 'Jardim Carvalho',
       'Jardim Botânico', 'Lageado', 'Passo das Pedras', 'Belém Novo',
       'Chapéu do Sol', 'Vila Nova', 'São João', 'Cristo Redentor',
       'Vila Jardim', 'Belém Velho', 'Morro Santana', 'Cidade Baixa',
       'Moinhos de Vento', 'Bela Vista', 'Floresta', 'Serraria',
       'Chácara das Pedras', 'São Geraldo', 'Santa Cecília',
       'Farroupilha', 'Independência', 'Glória', 'Santo Antônio',
       'Tristeza', 'Vila João Pessoa', 'Jardim São Pedro', 'Camaquã',
       'São José', 'Bom Jesus', 'Praia de Belas', 'Passo Dornelles',
       'Arquipélago', 'São Sebastião', 'Bom Fim', 'Jardim do Salso',
       'Auxiliadora', 'Jardim Sabará', 'Campo Novo', 'Jardim Floresta',
       'Guarujá', 'Jardim Lindóia', 'Vila Assunção',
       'Coronel Aparício Borges', 'Anchieta', 'Pedra Redonda',
       'Vila Conceição'], dtype=object)

In [326]:
# Escolas sem retorno de bairro pela função de georreferenciamento, informadas conforme dados originais do Censo
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43004750, 'BAIRRO'] = 'Navegantes'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43004768, 'BAIRRO'] = 'Menino Deus'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43004830, 'BAIRRO'] = 'Rubem Berta'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43009310, 'BAIRRO'] = 'Menino Deus'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43089216, 'BAIRRO'] = 'Restinga'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43105807, 'BAIRRO'] = 'Passo Dornelles'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43106110, 'BAIRRO'] = 'Lageado'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43107044, 'BAIRRO'] = 'Teresópolis'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43107230, 'BAIRRO'] = 'Lomba do Pinheiro'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43108210, 'BAIRRO'] = 'Jardim do Salso'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43178995, 'BAIRRO'] = 'Jardim do Salso'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43180728, 'BAIRRO'] = 'Cristal'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43185100, 'BAIRRO'] = 'Jardim Carvalho'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43187455, 'BAIRRO'] = 'Petrópolis'
df_CADASTROS_geo.loc[df_CADASTROS_geo['CO_ENTIDADE'] == 43187560, 'BAIRRO'] = 'Chapéu do Sol'

In [331]:
df_CADASTROS_geo.head()

,CO_ENTIDADE,NO_ENTIDADE,END,BAIRRO,LAT,LON,CEP,MUN,UF,PAIS
167353,43000452,ESC ENS MEDIO CESI ZONA SUL,"Rua José Braulio da Fonseca, 44, Hípica, Porto...",Hípica,-30.16010,-51.18690,91787-895,Porto Alegre,RS,BRA
167354,43000479,E E IND ENS FUN TUPE PAN,"Rua da Comunidade, Lomba do Pinheiro, Porto Al...",Lomba do Pinheiro,-30.12695,-51.12024,91560-550,Porto Alegre,RS,BRA
167355,43000487,ESC EDUC PROFISSIONAL CECILIA MEIRELES,"Rua dos Andradas, 1001, Centro Histórico, Port...",Centro Histórico,-30.03068,-51.23154,90020-007,Porto Alegre,RS,BRA
167356,43000495,ESCOLAS E FACULDADES QI - ALBERTO BINS,"Avenida Alberto Bins, 320, Centro Histórico, P...",Centro Histórico,-30.02801,-51.22355,90030-140,Porto Alegre,RS,BRA
167357,43000517,ESCOLA DE EDUCACAO PROFISSIONAL PROFESSOR ALBE...,"Rua dos Andradas, 1270, Centro Histórico, Port...",Centro Histórico,-30.02980,-51.22912,90010-230,Porto Alegre,RS,BRA

# TELEFONE

In [488]:
filepath = '\\dados\\censo\\cadastro-escolas\\CAD_ESC_MAT_2018.csv'

iter_csv = pd.read_csv(filepath, 
                       sep=';', 
                       header=0, 
                       encoding="ISO-8859-1", 
#                        dtype=dict_campos['ESCOLA'][2018], 
                       usecols=['CO_MUNICIPIO', 'CO_ENTIDADE', 'NU_DDD', 'NU_TELEFONE'], 
                       iterator=True, 
                       chunksize=1000)

telefones = pd.concat([chunk[chunk['CO_MUNICIPIO'] == 4314902] for chunk in iter_csv])

In [491]:
telefones = telefones.drop(columns='CO_MUNICIPIO')

In [492]:
telefones

        CO_ENTIDADE NU_DDD NU_TELEFONE
167353     43000452     51    33461880
167354     43000479      -           -
167355     43000487     51    30842420
167356     43000495     51    30735800
167357     43000517     51    32256917
...             ...    ...         ...
168373     43367399     51    30727219
168374     43367429     51    40618909
168375     43367453     51    32684700
168376     43379052     51    33439466
168377     43379060     51    33815757

[1025 rows x 3 columns]

# ESCOLAS.CSV

In [337]:
campos_escola = ['CO_ENTIDADE', 'CO_MUNICIPIO', 'TP_DEPENDENCIA', 'IN_CONVENIADA_PP',
                 'IN_ALIMENTACAO', 'IN_INTERNET', 'QT_FUNCIONARIOS', 
                 'TP_AEE', 'TP_ATIVIDADE_COMPLEMENTAR', 'IN_ESPECIAL_EXCLUSIVA',
                'IN_PROFISSIONALIZANTE', 'IN_PATIO_COBERTO', 'IN_PATIO_DESCOBERTO', 
                'IN_DEPENDENCIAS_PNE', 'IN_PARQUE_INFANTIL', 'IN_BIBLIOTECA', 'IN_QUADRA_ESPORTES',
                'IN_LABORATORIO_CIENCIAS', 'IN_LABORATORIO_INFORMATICA',
                'IN_AGUA_FILTRADA', 'IN_ESGOTO_REDE_PUBLICA']

In [338]:
filepath = '\\dados\\censo\\md_censo\\micro_censo_escolar_2018\\DADOS\\ESCOLAS.csv'

iter_csv = pd.read_csv(filepath, 
                       sep='|', 
                       header=0, 
                       encoding="ISO-8859-1", 
#                        dtype=dict_campos['ESCOLA'][2018], 
                       usecols=campos_escola, 
                       iterator=True, 
                       chunksize=1000)

df_ESCOLAS = pd.concat([chunk[chunk['CO_MUNICIPIO'] == 4314902] for chunk in iter_csv])

In [339]:
df_ESCOLAS

,CO_ENTIDADE,CO_MUNICIPIO,TP_DEPENDENCIA,IN_CONVENIADA_PP,IN_AGUA_FILTRADA,IN_ESGOTO_REDE_PUBLICA,IN_LABORATORIO_INFORMATICA,IN_LABORATORIO_CIENCIAS,IN_QUADRA_ESPORTES,IN_BIBLIOTECA,...,IN_DEPENDENCIAS_PNE,IN_PATIO_COBERTO,IN_PATIO_DESCOBERTO,IN_INTERNET,QT_FUNCIONARIOS,IN_ALIMENTACAO,TP_AEE,TP_ATIVIDADE_COMPLEMENTAR,IN_ESPECIAL_EXCLUSIVA,IN_PROFISSIONALIZANTE
251735,43006744,4314902,4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,15.0,0.0,0.0,0.0,0.0,0.0
251736,43006752,4314902,4,0.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,12.0,0.0,0.0,0.0,0.0,0.0
251737,43006787,4314902,4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,9.0,0.0,0.0,0.0,0.0,0.0
251738,43006795,4314902,4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,14.0,0.0,0.0,0.0,0.0,0.0
251739,43006809,4314902,4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,10.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285993,43187927,4314902,4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,17.0,0.0,0.0,0.0,0.0,0.0
285994,43187960,4314902,4,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0
285995,43187978,4314902,4,0.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,10.0,0.0,0.0,0.0,0.0,0.0
285996,43187986,4314902,4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,15.0,0.0,0.0,0.0,0.0,0.0
285997,43187994,4314902,4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,10.0,0.0,0.0,0.0,0.0,0.0

# ENEM

In [461]:
filepath = '\\dados\\enem\\Microdados Enem 2017\\DADOS\\MICRODADOS_ENEM_2017.csv'

iter_csv = pd.read_csv(filepath,
                       sep=';', 
                       header=0, 
                       encoding="ISO-8859-1",
                       iterator=True,
                       usecols=['CO_MUNICIPIO_ESC', 'CO_ESCOLA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT',
                                'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO'],
#                        dtype='object',
                       chunksize=1000)

microdados_enem = pd.concat([chunk[chunk['CO_MUNICIPIO_ESC'] == 4314902] for chunk in iter_csv])

In [462]:
microdados_enem['media_enem'] = microdados_enem[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']].sum(axis=1)/5

In [468]:
medias_enem_por_escola = microdados_enem.groupby('CO_ESCOLA').media_enem.mean().reset_index()

In [474]:
medias_enem_por_escola

      CO_ESCOLA  media_enem
0    43000452.0  493.711373
1    43001190.0  515.249583
2    43002803.0  451.829063
3    43006850.0  313.898776
4    43006868.0  162.360000
..          ...         ...
168  43206387.0  575.340714
169  43206875.0  297.822385
170  43209521.0    0.000000
171  43211402.0  537.896129
172  43238203.0  611.639143

[173 rows x 2 columns]

# DOCENTES

In [388]:
campos_docentes = ['CO_MUNICIPIO', 'CO_ENTIDADE', 'ID_DOCENTE', 'TP_TIPO_TURMA', 'TP_TIPO_DOCENTE', 'TP_ESCOLARIDADE', 
                   'IN_ESPECIALIZACAO', 'IN_MESTRADO', 'IN_DOUTORADO', 'IN_POS_NENHUM', 'IN_ESPECIFICO_NENHUM']

In [392]:
filepath = '\\dados\\censo\\md_censo\\micro_censo_escolar_2018\\DADOS\\DOCENTES_SUL.csv'

iter_csv = pd.read_csv(filepath, 
                       sep='|', 
                       header=0, 
                       encoding="ISO-8859-1", 
#                        dtype=dict_campos['ESCOLA'][2018], 
                       usecols=campos_docentes, 
                       iterator=True, 
                       chunksize=1000)

df_DOCENTES = pd.concat([chunk[(chunk['CO_MUNICIPIO'] == 4314902) &
                               (chunk['TP_TIPO_TURMA'].isin([0,1,2,3])) &
                               (chunk['TP_TIPO_DOCENTE'].isin([1,5]))
                              ] for chunk in iter_csv])

In [398]:
def calc(x):
    docentes = x.ID_DOCENTE.nunique()
    docentes_superior = x.loc[ x['TP_ESCOLARIDADE'] == 4].ID_DOCENTE.nunique()
    docentes_especializ = x.loc[ x['IN_ESPECIALIZACAO'] == 1].ID_DOCENTE.nunique()
    docentes_mestrado = x.loc[ x['IN_MESTRADO'] == 1].ID_DOCENTE.nunique()
    docentes_doutorado = x.loc[ x['IN_DOUTORADO'] == 1].ID_DOCENTE.nunique()
    docentes_posnenhum = x.loc[ x['IN_POS_NENHUM'] == 1].ID_DOCENTE.nunique()
    docentes_continuada = x.loc[ x['IN_ESPECIFICO_NENHUM'] == 0].ID_DOCENTE.nunique()
    
    return pd.Series([docentes, docentes_superior, docentes_especializ, docentes_mestrado,
                     docentes_doutorado, docentes_posnenhum, docentes_continuada], 
                     index=['docentes', 'docentes_superior', 'docentes_especializ', 'docentes_mestrado',
                     'docentes_doutorado', 'docentes_posnenhum', 'docentes_continuada'])

In [400]:
docentes_escolas = df_DOCENTES.groupby(['CO_ENTIDADE']).apply(calc).reset_index()

# TURMAS

In [405]:
campos_turmas = ['CO_MUNICIPIO', 'CO_ENTIDADE', 
                 'IN_DISC_LINGUA_INGLES', 'IN_DISC_LINGUA_ESPANHOL', 'IN_DISC_LINGUA_FRANCES',
                 'IN_DISC_ATENDIMENTO_ESPECIAIS', 'IN_DISC_DIVER_SOCIO_CULTURAL',
                 'IN_BRAILLE', 'IN_RECURSOS_BAIXA_VISAO', 'IN_PROCESSOS_MENTAIS',
                 'IN_ORIENTACAO_MOBILIDADE', 'IN_SINAIS', 'IN_COMUNICACAO_ALT_AUMENT',
                 'IN_ENRIQ_CURRICULAR', 'IN_SOROBAN', 'IN_INFORMATICA_ACESSIVEL',
                 'IN_PORT_ESCRITA', 'IN_AUTONOMIA_ESCOLAR']

In [406]:
filepath = '\\dados\\censo\\md_censo\\micro_censo_escolar_2018\\DADOS\\TURMAS.csv'

iter_csv = pd.read_csv(filepath, 
                       sep='|', 
                       header=0, 
                       encoding="ISO-8859-1", 
#                        dtype=dict_campos['ESCOLA'][2018], 
                       usecols=campos_turmas, 
                       iterator=True, 
                       chunksize=1000)

df_TURMAS = pd.concat([chunk[(chunk['CO_MUNICIPIO'] == 4314902)
                              ] for chunk in iter_csv])

In [427]:
atendimento_turmas = df_TURMAS.drop(columns='CO_MUNICIPIO').groupby('CO_ENTIDADE', as_index=False).sum()

In [428]:
for column in atendimento_turmas.columns[1:]:
    atendimento_turmas[column] = np.where(atendimento_turmas[column]>0, 1, 0)

In [429]:
atendimento_turmas

,CO_ENTIDADE,IN_BRAILLE,IN_RECURSOS_BAIXA_VISAO,IN_PROCESSOS_MENTAIS,IN_ORIENTACAO_MOBILIDADE,IN_SINAIS,IN_COMUNICACAO_ALT_AUMENT,IN_ENRIQ_CURRICULAR,IN_SOROBAN,IN_INFORMATICA_ACESSIVEL,IN_PORT_ESCRITA,IN_AUTONOMIA_ESCOLAR,IN_DISC_LINGUA_INGLES,IN_DISC_LINGUA_ESPANHOL,IN_DISC_LINGUA_FRANCES,IN_DISC_ATENDIMENTO_ESPECIAIS,IN_DISC_DIVER_SOCIO_CULTURAL
0,43000452,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1,43000479,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,43000487,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
3,43000495,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,43000517,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,43367399,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1021,43367429,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1022,43367453,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1023,43379052,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1024,43379060,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# MATRICULAS

In [435]:
campos_matriculas = ['CO_MUNICIPIO', 'CO_ENTIDADE', 'TP_TIPO_TURMA',
                     'TP_ETAPA_ENSINO', 'ID_MATRICULA']

In [436]:
filepath = '\\dados\\censo\\md_censo\\micro_censo_escolar_2018\\DADOS\\MATRICULA_SUL.csv'

iter_csv = pd.read_csv(filepath, 
                       sep='|', 
                       header=0, 
                       encoding="ISO-8859-1", 
#                        dtype=dict_campos['ESCOLA'][2018], 
                       usecols=campos_matriculas, 
                       iterator=True, 
                       chunksize=1000)

df_MATRICULAS = pd.concat([chunk[(chunk['CO_MUNICIPIO'] == 4314902) &
                               (chunk['TP_TIPO_TURMA'].isin([0,1,2,3]))
                              ] for chunk in iter_csv])

In [445]:
matriculas_por_escola = df_MATRICULAS.drop(columns=['CO_MUNICIPIO', 'TP_TIPO_TURMA']).groupby('CO_ENTIDADE').ID_MATRICULA.nunique().reset_index()

# INDICADORES

## IDEB

In [361]:
cols = ['SG_UF', 'COD_MUN', 'NO_MUNICIPIO', 'CO_ENTIDADE', 'NO_ESCOLA', 'REDE', 'TAP05_F14', 'TAP05_F00', 'TAP05_F01', 'TAP05_F02', 'TAP05_F03', 'TAP05_F04', 'P14_05', 'TAP07_F14', 'TAP07_F00', 'TAP07_F01', 'TAP07_F02', 'TAP07_F03', 'TAP07_F04', 'P14_07', 'TAP09_F14', 'TAP09_F00', 'TAP09_F01', 'TAP09_F02', 'TAP09_F03', 'TAP09_F04', 'P14_09', 'TAP11_F14', 'TAP11_F00', 'TAP11_F01', 'TAP11_F02', 'TAP11_F03', 'TAP11_F04', 'P14_11', 'TAP13_F14', 'TAP13_F00', 'TAP13_F01', 'TAP13_F02', 'TAP13_F03', 'TAP13_F04', 'P14_13', 'TAP15_F14', 'TAP15_F00', 'TAP15_F01', 'TAP15_F02', 'TAP15_F03', 'TAP15_F04', 'P14_15', 'tap_f14', 'tap_f00', 'tap_f01', 'tap_f02', 'tap_f03', 'tap_f04', 'P4', 'PB14_MAT05', 'PB14_PORT05', 'PAD14_05', 'PB14_MAT07', 'PB14_PORT07', 'PAD14_07', 'PB14_MAT09', 'PB14_PORT09', 'PAD14_09', 'PB14_MAT11', 'PB14_PORT11', 'PAD14_11', 'PB14_MAT13', 'PB14_PORT13', 'PAD14_13', 'PB14_MAT15', 'PB14_PORT15', 'PAD14_15', 'PB14_MAT17', 'PB14_PORT17', 'PAD14_17', 'IDEB14_05', 'IDEB14_07', 'IDEB14_09', 'IDEB14_11', 'IDEB14_13', 'IDEB14_15', 'IDEB14_17', 'PROJ14_07', 'PROJ14_09', 'PROJ14_11', 'PROJ14_13', 'PROJ14_15', 'PROJ14_17', 'proj417_2019', 'proj417_2021']

In [362]:
ideb_iniciais = pd.read_csv('\\dados\\ideb\\2017\\ideb_iniciais_escolas_poa.csv', delimiter=';', header=None, names=cols)

In [363]:
cols = ['SG_UF', 'COD_MUN', 'NO_MUNICIPIO', 'CO_ENTIDADE', 'NO_ESCOLA', 'REDE', 'TAP05_F58', 'TAP05_F05', 
        'TAP05_F06', 'TAP05_F07', 'TAP05_F08', 'P58_05', 'TAP07_F58', 'TAP07_F05', 'TAP07_F06', 
        'TAP07_F07', 'TAP07_F08', 'P58_07', 'TAP09_F58', 'TAP09_F05', 'TAP09_F06', 'TAP09_F07', 'TAP09_F08',
        'P58_09', 'TAP11_F58', 'TAP11_F05', 'TAP11_F06', 'TAP11_F07', 'TAP11_F08', 'P58_11', 'TAP13_F58', 'TAP13_F05',
        'TAP13_F06', 'TAP13_F07', 'TAP13_F08', 'P58_13', 'TAP15_F58', 'TAP15_F05', 'TAP15_F06', 'TAP15_F07',
        'TAP15_F08', 'P58_15', 'tap_f58', 'tap_f05', 'tap_f06', 'tap_f07', 'tap_f08', 'P8', 'PB58_MAT05', 'PB58_PORT05',
        'PAD58_05', 'PB58_MAT07', 'PB58_PORT07', 'PAD58_07', 'PB58_MAT09', 'PB58_PORT09', 'PAD58_09', 'PB58_MAT11',
        'PB58_PORT11', 'PAD58_11', 'PB58_MAT13', 'PB58_PORT13', 'PAD58_13', 'PB58_MAT15', 'PB58_PORT15', 
        'PAD58_15', 'PB58_MAT17', 'PB58_PORT17', 'PAD58_17', 'IDEB58_05', 'IDEB58_07', 'IDEB58_09', 
        'IDEB58_11', 'IDEB58_13', 'IDEB58_15', 'IDEB58_17', 'PROJ58_07', 'PROJ58_09', 'PROJ58_11', 'PROJ58_13', 
        'PROJ58_15', 'PROJ58_17', 'proj817_2019', 'proj817_2021']

In [364]:
ideb_finais = pd.read_csv('\\dados\\ideb\\2017\\ideb_finais_escolas_poa.csv', delimiter=';', header=None, names=cols)

In [380]:
ideb_iniciais = ideb_iniciais[['CO_ENTIDADE', 'IDEB14_17', 'PROJ14_17']].astype(str).apply(lambda x: x.str.replace(',','.')).apply(pd.to_numeric, errors='coerce')

In [381]:
ideb_finais = ideb_finais[['CO_ENTIDADE', 'IDEB58_17', 'PROJ58_17']].astype(str).apply(lambda x: x.str.replace(',','.')).apply(pd.to_numeric, errors='coerce')

## Alunos por turma

In [486]:
alunos_por_turma = pd.read_excel('\\dados\\indicadores\\2018\\Indicadores_INEP_por_escola\\ATU_ESCOLAS_2018.xlsx', skiprows=8, skipfooter=3)

In [495]:
alunos_por_turma = alunos_por_turma.loc[(alunos_por_turma['NO_MUNICIPIO'] == 4314902)]

In [501]:
alunos_por_turma = alunos_por_turma[['NO_ENTIDADE', 'ATU_INF', 'ATU_FUN', 'ATU_MED']].apply(pd.to_numeric,errors='coerce')

In [505]:
alunos_por_turma = alunos_por_turma.rename(columns={'NO_ENTIDADE': 'CO_ENTIDADE'})

## Hora-aula diária

## TXs rendimento

In [10]:
filepath = '\\dados\\indicadores\\2018\\Indicadores_INEP_por_escola\\TX_REND_ESCOLAS_2018\\TX_REND_ESCOLAS_2018.xlsx'
txs_rendimento = pd.read_excel(filepath, skiprows=8, skipfooter=2)

In [11]:
taxas_rendimento_poa = txs_rendimento.loc[txs_rendimento['CO_MUNICIPIO'] == 4314902][['CO_ENTIDADE', 
                                                               'tap_F14', 'tap_F04', 'tap_FUN', 'tap_MED',
                                                               'tre_FUN', 'tre_F14', 'tre_F04', 'tre_MED',
                                                               'tab_FUN', 'tab_F14', 'tab_F04', 'tab_MED']].apply(pd.to_numeric, errors='coerce')

## TDI

In [12]:
filepath = '\\dados\\indicadores\\2018\\Indicadores_INEP_por_escola\\TDI_2018_ESCOLAS\\TDI_ESCOLAS_2018.xlsx'
tx_distorcao = pd.read_excel(filepath, skiprows=8, skipfooter=2)

In [13]:
tx_distorcao = tx_distorcao.loc[tx_distorcao.CO_MUNICIPIO == 4314902]

In [14]:
distorcao_escola = tx_distorcao[['CO_ENTIDADE', 'TDI_FUN', 'TDI_MED']].apply(pd.to_numeric, errors='coerce')

## Adequação formação docente

In [538]:
filepath = '\\dados\\indicadores\\2018\\Indicadores_INEP_por_escola\\AFD_2018_ESCOLAS\\AFD_ESCOLAS_2018.xlsx'
AFD = pd.read_excel(filepath, skiprows=10, skipfooter=4)

In [540]:
# AFD[[PK_COD_ENTIDADE, ]]

## Hora-aula diária

In [546]:
filepath = '\\dados\\indicadores\\2018\\Indicadores_INEP_por_escola\\HAD_2018_ESCOLAS\\HAD_ESCOLAS_2018.xlsx'
HAD = pd.read_excel(filepath, skiprows=8, skipfooter=3)

In [547]:
HAD.loc[HAD.CO_MUNICIPIO == 4314902]

,NU_ANO_CENSO,NO_REGIAO,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,CO_ENTIDADE,NO_ENTIDADE,TIPOLOCA,DEPENDAD,HAD_INF,...,HAD_F05,HAD_F06,HAD_F07,HAD_F08,HAD_MED,HAD_M01,HAD_M02,HAD_M03,HAD_M04,HAD_MNS
138533,2018,Sul,RS,4314902,Porto Alegre,43000452,ESC ENS MEDIO CESI ZONA SUL,Urbana,Privada,--,...,4.5,4.5,4.5,4.5,4.5,4.5,4.5,4.5,--,NaN
138534,2018,Sul,RS,4314902,Porto Alegre,43001190,IFRS - CAMPUS PORTO ALEGRE RESTINGA,Urbana,Federal,--,...,--,--,--,--,4.7,4.5,5.1,4.5,4.5,NaN
138535,2018,Sul,RS,4314902,Porto Alegre,43001254,E E IND ENS FUN PINDO POTY,Urbana,Estadual,--,...,--,--,--,--,--,--,--,--,--,NaN
138536,2018,Sul,RS,4314902,Porto Alegre,43001831,EEI PEIXINHOS DO MAR,Urbana,Privada,11.5,...,--,--,--,--,--,--,--,--,--,NaN
138537,2018,Sul,RS,4314902,Porto Alegre,43001840,ESCOLA INFANTIL ARCO IRIS,Urbana,Privada,5.6,...,--,--,--,--,--,--,--,--,--,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139494,2018,Sul,RS,4314902,Porto Alegre,43367399,ESC EDUC INF GERACAO ALEGRIA,Urbana,Privada,12,...,--,--,--,--,--,--,--,--,--,NaN
139495,2018,Sul,RS,4314902,Porto Alegre,43367429,5216 EEI CONSTRUINDO O AMANHA,Urbana,Privada,11,...,--,--,--,--,--,--,--,--,--,NaN
139496,2018,Sul,RS,4314902,Porto Alegre,43367453,ESC EDUC INF PEQUENO PRINCIPE LTDA,Urbana,Privada,11.5,...,--,--,--,--,--,--,--,--,--,NaN
139497,2018,Sul,RS,4314902,Porto Alegre,43379052,ESC EDUC INF TURMA DA ALEGRIA,Urbana,Privada,12,...,--,--,--,--,--,--,--,--,--,NaN
139498,2018,Sul,RS,4314902,Porto Alegre,43379060,5213 IEI PATATI PATATA,Urbana,Privada,12,...,--,--,--,--,--,--,--,--,--,NaN

# DATASET para BD

In [366]:
dataset_v1 = df_CADASTROS_geo.merge(df_ESCOLAS, left_on='CO_ENTIDADE', right_on='CO_ENTIDADE', how='left')

In [385]:
dataset_v2 = dataset_v1.merge(ideb_iniciais, how='left').merge(ideb_finais, how='left')

In [402]:
dataset_v3 = dataset_v2.merge(docentes_escolas, how='left')

In [430]:
dataset_v4 = dataset_v3.merge(atendimento_turmas, how='left')

In [448]:
dataset_v5 = dataset_v4.merge(matriculas_por_escola, how='left')

In [482]:
dataset_v6 = dataset_v5.merge(medias_enem_por_escola, how='left', left_on='CO_ENTIDADE', right_on='CO_ESCOLA')

In [494]:
dataset_v7 = dataset_v6.merge(telefones, how='left')

In [507]:
dataset_v8 = dataset_v7.merge(alunos_por_turma, how='left')

In [16]:
dataset_v9 = dataset_v8.merge(taxas_rendimento_poa, how='left')

In [17]:
dataset_v10 = dataset_v9.merge(distorcao_escola, how='left')

In [18]:
dataset_v10.shape

(1025, 79)

In [19]:
list(dataset_v10.columns)

['CO_ENTIDADE',
 'NO_ENTIDADE',
 'END',
 'BAIRRO',
 'LAT',
 'LON',
 'CEP',
 'MUN',
 'UF',
 'PAIS',
 'CO_MUNICIPIO',
 'TP_DEPENDENCIA',
 'IN_CONVENIADA_PP',
 'IN_AGUA_FILTRADA',
 'IN_ESGOTO_REDE_PUBLICA',
 'IN_LABORATORIO_INFORMATICA',
 'IN_LABORATORIO_CIENCIAS',
 'IN_QUADRA_ESPORTES',
 'IN_BIBLIOTECA',
 'IN_PARQUE_INFANTIL',
 'IN_DEPENDENCIAS_PNE',
 'IN_PATIO_COBERTO',
 'IN_PATIO_DESCOBERTO',
 'IN_INTERNET',
 'QT_FUNCIONARIOS',
 'IN_ALIMENTACAO',
 'TP_AEE',
 'TP_ATIVIDADE_COMPLEMENTAR',
 'IN_ESPECIAL_EXCLUSIVA',
 'IN_PROFISSIONALIZANTE',
 'IDEB14_17',
 'PROJ14_17',
 'IDEB58_17',
 'PROJ58_17',
 'docentes',
 'docentes_superior',
 'docentes_especializ',
 'docentes_mestrado',
 'docentes_doutorado',
 'docentes_posnenhum',
 'docentes_continuada',
 'IN_BRAILLE',
 'IN_RECURSOS_BAIXA_VISAO',
 'IN_PROCESSOS_MENTAIS',
 'IN_ORIENTACAO_MOBILIDADE',
 'IN_SINAIS',
 'IN_COMUNICACAO_ALT_AUMENT',
 'IN_ENRIQ_CURRICULAR',
 'IN_SOROBAN',
 'IN_INFORMATICA_ACESSIVEL',
 'IN_PORT_ESCRITA',
 'IN_AUTONOMIA_ESCOLAR',
 'IN_DISC_LINGUA_INGLES',
 'IN_DISC_LINGUA_ESPANHOL',
 'IN_DISC_LINGUA_FRANCES',
 'IN_DISC_ATENDIMENTO_ESPECIAIS',
 'IN_DISC_DIVER_SOCIO_CULTURAL',
 'ID_MATRICULA',
 'CO_ESCOLA',
 'media_enem',
 'NU_DDD',
 'NU_TELEFONE',
 'ATU_INF',
 'ATU_FUN',
 'ATU_MED',
 'tap_F14',
 'tap_F04',
 'tap_FUN',
 'tap_MED',
 'tre_FUN',
 'tre_F14',
 'tre_F04',
 'tre_MED',
 'tab_FUN',
 'tab_F14',
 'tab_F04',
 'tab_MED',
 'TDI_FUN',
 'TDI_MED']

In [20]:
dataset_v10.to_csv('dataset.csv')